@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Dono @ViewData["Dono"]</p>

<address>
    <strong>Mais informacoes: </strong> <a href="http://facebook.com/erickbatista99">Dono do Site</a>
</address>